@page "/forgot"

@if (IsError)
{
    @foreach (var error in Errors)
    {
        <h3>@error</h3>
    }

}
@if (ShowLinkButton)
{
    <a href="@_forgotPasswordDto.Weblink" style="color:orangered">Click Here To Reset Password</a>
}
   
@if (IsShowDiv)
{
    <MudContainer Style="max-height: 80vh;overflow-y: scroll;" Class="py-2">
        <EditForm Model="@_forgotPasswordDto" OnValidSubmit="ForgotPasswordToEmail">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudGrid>

                        <MudItem xs="12" sm="12" Class="py-0">
                            <MudTextField Label="Email"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your Email"
                                            HelperTextOnFocus
                                      @bind-Value="_forgotPasswordDto.Email"
                                      For="@(() => _forgotPasswordDto.Email)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                            </MudItem>


                            </MudGrid>




                            </MudCardContent>
                            <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                              FullWidth
                           Color=Color.Success>

                    Enter

                    </MudButton>
                    </MudCardActions>
                    </MudCard>

                    </EditForm>
                    </MudContainer>
}

