@page "/resetpassword"
@*
@if (IsError)
{
    @foreach (var error in Errors)
    {
        <h3>@error</h3>
    }

}*@
<MudContainer Style="max-height: 80vh;overflow-y: scroll;" Class="py-2">
    <EditForm Model="@_resetPasswordDto" OnValidSubmit="ResetPasswordUser">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudGrid>


                        <MudItem xs="12" sm="12" Class="py-0">
                        <MudTextField Label="Password"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your Password"
                                        HelperTextOnFocus
                                      @bind-Value="_resetPasswordDto.Password"
                                      For="@(() => _resetPasswordDto.Password)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                        </MudItem>
                        <MudItem xs="12" sm="12" Class="py-0">
                        <MudTextField Label="Confirm Password"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your Confirm Password"
                                        HelperTextOnFocus
                                      @bind-Value="_resetPasswordDto.ConfirmPassword"
                                      For="@(() => _resetPasswordDto.ConfirmPassword)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                        </MudItem>

                        </MudGrid>




                        </MudCardContent>
                        <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           FullWidth
                           Color=Color.Success>

                    Reset Password

                </MudButton>
                </MudCardActions>
                </MudCard>

                </EditForm>
                </MudContainer>
